<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %highlight{%d{HH:mm:ss.SSS} %logger{36}.%M() @%L - %message%xEx%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>
        </Console>
<!--        <File name="File" fileName="src/log/test.log" append="false">
            <PatternLayout pattern="[%-5level] %d{HH:mm:ss.SSS}  %logger{36}.%M() @%Lmessage%msg%xEx%n"/>
        </File>-->
    </appenders>


    <loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <!--<logger name="org.springframework" level="INFO"/>-->
        <!--<logger name="org.mybatis" level="INFO"/>-->
        <root level="debug">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="File"/>-->
        </root>
    </loggers>


</configuration>